<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
              <li>
              <a href="/">
              <img alt="home" src="{{site.url}}/assets/logo.jpg"></img>
              </a>
              </li>
		        	<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dmeiser79@gmail.com">email</a></li>
	        		<li><a href="https://github.com/d-meiser">github.com/d-meiser</a></li>
				</ul>
			</footer>
		</body>
	</html>
